.Error-info{
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;
    color: #333333;    

}